.navbar-brand img{
	width: 150px;
	height: 40px;
}
.jumbotron {
    margin-bottom: 0;
}

.pagination {
	justify-content: center;
}

.pagination li {
    display: inline-block;
}
.pagination li.active {
    background-color: #199c87;
    color: #fff;
}
.pagination li:hover {
    background-color: #199c87;
    color: #fff;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}
.footer{
	background-color: #199c87;
	color: #fff;
}
.footer .col-md-3 {
	padding-top: 20px;
}
.footer a {
	color:#fff;
	text-decoration: underline;
}